.header {
	background-color: #212528;
	margin:0px;
	}
#nav  {display: inline-block;
position: relative;
top: -180px;
right: -300px;
	}
#nav li {display: inline;
		 padding-right: 10px;
		 }		
#nav a {
	text-decoration: none;
	color:#CDCED0;
	}
#platforms{
	width:900px;
	margin:auto;
}
#platforms h1{
	text-align: center;
	}
#intro{
	text-align: center;
}
#PC {
	float: left;
	width:80px;
	}
#PS4{
	margin-left:100px;
	width:80px;
	float: left;
	}
#XBOX{
	margin-left:100px;
	width:80px;
	float: left;
	}
#Nintendo{
	margin-left:100px;
	width:80px;
	float: left;
	}
#Mobile{
	margin-left:720px;
	width:80px;
	margin-right:0px;
	}
#Releases{
	
	
}
#Reviews{
	
	}
.body {
width: 100%;
}
	
.gamedescrip
{
float:left;
width: 50%;
position: absolute;
top: 300px;
font-size: xx-large;
color: #CDCED0;
}
.reviews{
position: absolute;
left: 0;
bottom: -300px;
height: 30%;
width: 50%;
Border: 2px solid  #212528;
font-size: xx-large;
color: #CDCED0;
}
.gamepic{
	float: right;
	width: 40%;
	height: 50%;
	position: absolute;
	top: 300px;
	right: 10px;
	
}
.screenshots {
float: right;
width: 40%;
height: 50%;
position: absolute;
right: 10px;
bottom: -530px;
display: inline-block;
}
img.pic1{
   width:200px;
   height:200px;
}
.main{
	
	margin-left:auto;
	margin-right:auto;
	width: 60%;
	margin-top:20px;
}
.body{
	background-color:#37393E;
}
.user{
	float:left;
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
.username{
	margin-top:10px;
	margin-bottom:10px;
	
}
.password{
	margin-top:10px;
	margin-bottom:10px;
}
.something{
	width:40%;
	margin-left: 600px;
	
}
.Signbutton{
	margin-top:20px;
	margin-bottom:20px;
	margin-right: 20px;
}
.Signbutton a{
	text-decoration:none;
}
.Forgerpassword{
	
	margin:auto;
}
.main h3{
	color:#CDCED0;
}
.footer{
	color:#CDCED0;
}