body a:hover{
	color:black;
}
body a{
	text-decoration: none;
	font-size: large;
}

body {
	background-color:#37393E;
}
#wrapper {
	width:800px;
	margin-left: auto;
	margin-right: auto;
	float: center;
}
#header button{
	float:right;
	text-align: right;
}
	
#nav {
	height: 50px;
}
#nav img{
	text-align: center;
}
#nav ul {
	list-style: none;
	background-color: #2FCC71;
}
#nav li {
	display: inline;
	padding-right: 10px;
}
#footer {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	background-color:#2FCC71;
	position:relative;
	
}
--------------------------------------------------------------------------------------------------------------




#sysxbox table{
	border:1px solid #5294F5;
	border-collapse: collapse;
	text-align: center;
	width:100%;
}
#sysxbox {
	background-color: #CDCED0;
	width: 30%;
	float: left;
	height: 300px;
	padding:20px 20px 20px 20px;
}

#mainxbox {
	background-color: #CDCED0;
	width: 50%;
	float:right;
	height: 300px;
	padding:20px 20px 20px 20px;
}

.titlexbox{
	padding-top: 5px;
	clear:both;
	color: white;
}

#releasexbox {
	height:200px;
	background-color: #CDCED0;
	float: right;
	clear: both;
	padding:20px 20px 20px 20px;
	overflow: auto;
}

#releasexbox a{
	color: #26282D;
}
#reviewxbox {
	height:auto;
	background-color: #CDCED0;
	
	clear: both;
	padding:20px 20px 20px 20px;
}

#reviewxbox a{
	color: #26282D;
}
#boxcontact h2 h3{
	color:white;
}
.mainsign{
	margin-bottom:200px;
	margin-top:40px;
}
.usersign{
	float:left;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
.something{
	width:200px;
	margin-left:300px;	
}
.usernamesign{
	margin-top:10px;
	margin-bottom:10px;
	
}
.passwordsign{
	margin-top:10px;
	margin-bottom:10px;
}
.signbutton{
	margin-top:20px;
	margin-bottom:20px;
	margin-right: 20px;
}
.signbutton a{
	text-decoration:none;
}
.forgetpassword{
	
	margin:auto;
}
.forgetpassword a{
	text-decoration:none;
}
.usersign h3{
	color:#CDCED0;
}
.signupselect{
	margin-top:20px;
}


	