.header {
	background-color: #37393E;
	margin:0px;
	}

}
#nav ul {list-style: none;
	}
#nav li {display: inline;
		 padding-right: 10px;
		 }		
#nav a {
	text-decoration: none;
	color:#CDCED0;
	}
#platforms{
	width:900px;
	margin:auto;
}
#platforms h1{
	text-align: center;
	}
#intro{
	text-align: center;
}
#PC {
	float: left;
	width:80px;
	}
#PS4{
	margin-left:100px;
	width:80px;
	float: left;
	}
#XBOX{
	margin-left:100px;
	width:80px;
	float: left;
	}
#Nintendo{
	margin-left:100px;
	width:80px;
	float: left;
	}
#Mobile{
	margin-left:720px;
	width:80px;
	margin-right:0px;
	}
#Releases{
	
	
}
#Reviews{
	
	}
.mainsign{
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width: 60%;
	margin-top:20px;
}
.body{
	background-color:#37393E;
}
.user{
	float:left;
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
.username{
	margin-top:10px;
	margin-bottom:10px;
	
}
.password{
	margin-top:10px;
	margin-bottom:10px;
}
.something{
	width:40%;
	margin-left: 600px;
	
}
.Signbutton{
	margin-top:20px;
	margin-bottom:20px;
	margin-right: 20px;
}
.Signbutton a{
	text-decoration:none;
}
.Forgetpassword{
	
	margin:auto;
}
.Forgetpassword a{
	text-decoration:none;
}
.mainsign h3{
	color:#CDCED0;
}

.footer{
	color:#CDCED0;
	background-color:#212528;
	text-align:center;
}

#signupselect{
	margin-top:20px;
}
.signusername{
	width:200px;
	height:30px;
}
.signbutton{
	font-size:20px;
}