/******public css******/
/***for header, footer, body, nav***/
body a:hover{
	color:black;
}
body a{
	text-decoration: none;
	font-size: large;
}

body {
	background-color:#37393E;
}
#wrapper {
	width:800px;
	margin-left: auto;
	margin-right: auto;
	float: center;
}
#header button{
	float:right;
	text-align: right;
}
	
#nav {
	height: 50px;
}
#nav img{
	text-align: center;
}
#nav ul {
	list-style: none;
	background-color: #2FCC71;
}
#nav li {
	display: inline;
	padding-right: 10px;
}
#footer {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	background-color:#2FCC71;
	position:relative;
	
}
/*-------------------------------------------------------------------------------------------------------------
For individual pages 
name + title of the page
--------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------
Xbox
---------------------------------------------------------------------*/


#sysxbox table{
	border:1px solid #5294F5;
	border-collapse: collapse;
	text-align: center;
	width:100%;
}
#sysxbox {
	background-color: #CDCED0;
	width: 30%;
	float: left;
	height: 300px;
	padding:20px 20px 20px 20px;
}

#mainxbox {
	background-color: #CDCED0;
	width: 50%;
	float:right;
	height: 300px;
	padding:20px 20px 20px 20px;
}

.titlexbox{
	padding-top: 5px;
	clear:both;
	color: white;
}

#releasexbox {
	height:200px;
	background-color: #CDCED0;
	float: right;
	clear: both;
	padding:20px 20px 20px 20px;
	overflow: auto;
}

#releasexbox a{
	color: #26282D;
}
#reviewxbox {
	height:auto;
	background-color: #CDCED0;
	
	clear: both;
	padding:20px 20px 20px 20px;
}

#reviewxbox a{
	color: #26282D;
}
#boxcontact h2 h3{
	color:white;
}


/*---------------------------------------------------------------
sign in up, change password, forget password
-----------------------------------------------------------------*/


.mainsign{
	margin-bottom:200px;
	margin-top:40px;
}
.usersign{
	float:left;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
.something{
	width:200px;
	margin-left:300px;	
}
.usernamesign{
	margin-top:10px;
	margin-bottom:10px;
	
}
.passwordsign{	
	margin-top:10px;
	margin-bottom:10px;
}
.signbutton{
	margin-top:20px;
	margin-bottom:20px;
	margin-right: 20px;
}
.signbutton a{
	text-decoration:none;
}
.forgetpassword{
	
	margin:auto;
}
.forgetpassword a{
	text-decoration:none;
}
.usersign h3{
	color:#CDCED0;
}

.signupselect{
	margin-top:20px;
}
/*------------------------------------
Main forums pages
------------------------------------*/
#mainmfp {
	width: 860;
	margin: 0 auto 0 auto;
}
#Community_forums {
	text-align: center;
	color: #2FCC71;
}
.community_forum_tables {
	border: 1px solid black;
	border-radius: 15px;
	margin: 0 auto 15px auto;
	width: 860px;
	height: 250px;
	padding-left: 10px;
	background-color: white;
}
.forum_title {
	width: 75%;
	text-align: left;
	font-size: x-large;
	margin-bottom: 15px;
}
.latest_posts {
	width: 25%;
	font-size: x-large;
	text-align: center;
}
.main_topic {
	height: 10px;
	font-size: 20px;
	padding-top: 15px;
}
.time_of_last_post {
	text-align: center;
}
.sub_topic {
	padding-bottom: 15px;
}
.main_links {
	text-decoration: none;
	color: #22412F;
}
.main_links:hover {
	color: #2FCC71;
}
.sub_links {
	text-decoration: none;
	color: #22412F;
}
.sub_links:hover {
	color: #2FCC71;
}

/********about us*********/
#boxaboutus{
margin-top:0px;
margin-left:0px;
margin-bottom:0px;
margin-right:0px;
}
.boxaboutus{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.even {
	float: right;
}
.odd {
	float: left;
	margin-left:20px;
	margin-right:20px;
	}
.hr {
	border-style: dashed;
}
#mainaboutus h2 h3 {
	text-align: center;
	color:#CDCED0;
}
#mainaboutus p {
	color:#CDCED0;
}
